    
    
    body{background-color:#F8F8F8;
    background-size: 100% 130%;margin: 0px
	}
    #main { border: 1px solid #CCC; width:15em; text-align: center;
    margin-top: 20px;float:left;
    margin-left: 10px;
	border-radius: 20px;
	overflow: visible;
	background: white;
    box-shadow: 15px 15px 15px;
	}
    #form{padding:20px 50px 40px;font-size: 20px ;
        margin-left:auto ;margin-right:auto;width: 700px;margin-top: 50px;margin-bottom:50px;border: 2px solid black;margin-top:30px  
    }
    #form input{height: 25px;}
    #form .in{position: absolute;left:42%;}

    #feedback { color: red }
    header{    box-shadow: 5px 5px 5px;

        font: 30px 'Open Sans',Calibri,Arial;text-align: center;padding: 5px;color: white;
    	background: #162d40;margin: 0px;
    background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #001824 100%);}

    .button{ margin-top:20px; background: #CCC}
    .body{margin-left:270px;
    	overflow-x:hidden;padding-left:10px;margin-top: 40px}

    .body h1{text-align:center;font-family: 'Open sans', arial, sans-serif;}
    .entry{border: 2px solid black;background: #CC1;border-radius: 5px;margin:10px 80px;}
    #profile{background-color: gray;width: 100px;height:100px;display: inline-block;border: black solid 1px;
        }
        input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;-webkit-border-radius: 5px;
border-radius: 5px; font:15px sans-serif ;}
a {text-decoration:none;color:black;padding:3.8px 15px; background:#ccc; border:0 none;
    cursor:pointer;-webkit-border-radius: 5px;
border-radius: 5px;font:15px sans-serif ;height:10px;}
option:checked { color: white; }
div .question{margin-right: auto;margin-left: auto;width: 700px;padding: 10px 0px;font-size:18px;font-family: 'courier'}
.pro_pic{background-size: 100% 100%;height:40px;width:40px;border-radius:5px;display: inline-block;margin-top: 5px}
#reg{background-image:url(images/_homebackground.jpg);background-attachment:fixed }
.content{display: inline-block;color:#AFABAF;vertical-align: top;margin: 5px 0px 0px 10px;width:600px;}

.tag{border-radius:2px; background:#F0F0F0;color:#333333;padding: 1px 3px;margin: 4px;font-size: 0.8em}
.title{font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:1.5em;color: black}

